* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.appointments-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fc;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #333;
}

nav li.active,
nav li:hover {
  background-color: #4f46e5;
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 30px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.new-appointment {
  background: linear-gradient(90deg, #4f46e5, #7c3aed);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.filter-section {
  margin-top: 30px;
}

.filter-controls {
  margin-top: 12px;
  display: flex;
  gap: 16px;
  background-color: #f8f9fc;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  padding-left: 8px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.search-box input {
  height: 100%;
  padding: 10px 14px;
  margin: 0 7px;
  border: none;
  outline: none;
  width: 100%;
}

.filter-controls select {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
  height: 40px;
  font-size: 13px;
}


.appointment-card {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 18px 24px;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  justify-content: space-between;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 18px;
}

.info {
  flex: 1;
  margin-left: 10px;
}

.details {
  text-align: right;
  margin-right: 20px;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
}

.status.scheduled {
  background-color: #eef2ff;
  color: #4f46e5;
}

.status.completed {
  background-color: #e7f9ed;
  color: #22c55e;
}
.status.cancelled {
  background-color: #e7f9ed;
  color: #c54022;
}
.actions button {
  margin-left: 10px;
  width: 100px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.join-call {
  background-color: #10b981;
  color: white;
}

.reschedule {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-container {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  z-index: 1000;
  animation: fadeIn 0.1s ease;
}

.popup-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.popup-container form {
  display: flex;
  flex-direction: column;
}

.popup-container .form-input,
.popup-container .form-textarea {
  padding: 12px 14px;
  font-size: 15px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.popup-container .form-textarea {
  resize: vertical;
  height: 100px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-submit {
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-submit:active,
.popup-submit:hover {
  background: linear-gradient(135deg, #3b82f6,  #4f46e5);
}

.popup-cancel {
  background: #f0f0f0;
  color: #333;
  padding: 12px 20px;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-cancel:hover{
  background: linear-gradient(135deg, rgb(220, 72, 72), rgb(248, 102, 102));
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}
