* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.hr-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9fc;
}

.main-container {
    flex: 1;
    padding: 30px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.new-record {
  background: linear-gradient(90deg, #4f46e5, #7c3aed);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.record-card {
  background: #fff;
  margin: 16px 0;
  padding: 16px 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.date-card {
    background-color: rgb(248, 248, 248);
    padding: 10px;
    border-radius: 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}